<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>数据分析界面</title>
	<link rel="stylesheet" href="../res/css/reset.css"/>
	<link rel="stylesheet" href="../res/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="../res/css/content.css"/>
	<script src="../res/js/d3.v4.min.js"></script>
	<script src="../res/js/Chart.min.js"></script>
</head>
<!-- <body ng-app="dataApp"> -->
<body>
	<!-- <div class="delete-container">
		<div class="delete-content"> -->
			<div class="data-show-container" ng-controller="dataCtrl">
				<div class="data-show-info" ng-show="noResult">
					<form>
						<input type="file" name="file" ng-model="file"/>
						<span>患者名字：</span><input type="text" name="patientName" ng-model="patientName"/>
						<span>患者日期：</span><input type="text" name="patientDate" ng-model="patientDate"/>
						<button ng-click="toSubmit()">提交</button>
					</form>
				</div>
				<div class="data-show-result" ng-show="!noResult">
					<div id="data-show-heart-rate">
						<div class="data-show-chart">

						</div>
					</div>
					<div id="data-show-poincare">
						<div class="data-show-chart">

						</div>
					</div>
				</div>
			</div>
		<!-- </div>
	</div> -->
</body>
</html>
