<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>数据分析界面</title>
	<link rel="stylesheet" href="../res/css/reset.css"/>
	<link rel="stylesheet" href="../res/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="../res/css/content.css"/>
	<script src="../res/js/d3.v4.min.js"></script>
	<script src="../res/js/Chart.min.js"></script>
	<!-- <script src="../res/js/jquery-3.1.1.min.js"></script>
	<script src="../res/js/angular-1.6.1.min.js"></script> -->
</head>
<!-- <body ng-app="dataApp"> -->
<body>
	<!-- <div class="delete-container">
		<div class="delete-content"> -->
			<div class="data-show-container" ng-controller="dataCtrl">
				<div class="data-show-info" ng-show="noResult">
					<form>
						<div class="to-file">选择上传
							<input type="file" ngf-select name="file" ng-model="file"/>
						</div>
						<div class="to-input">
							<span>患者名字：</span><input type="text" name="patientName" ng-model="patientName"/>
						</div>
						<div class="to-input">
							<span>患者日期：</span><input type="text" name="patientDate" ng-model="patientDate"/>
						</div>
						<div class="to-submit">
							<!-- <button ng-click="toSubmit()">提交</button> -->
							<input type="button" value="提交" ng-click="toSubmit()"/>
						</div>
					</form>
				</div>
				<div class="data-show-result" ng-show="!noResult">
					<div id="data-show-info">
						<h2>患者信息</h2>
						<div class="data-show-info-item">
							<div class="data-show-info-name">
								患者名字:
							</div>
							<div class="data-show-info-value">
								{{patientName}}
							</div>
						</div>
						<div class="data-show-info-item">
							<div class="data-show-info-name">
								患者记录数据的开始时间:
							</div>
							<div class="data-show-info-value">
								{{patientDate}}
							</div>
						</div>
					</div>
					<div id="data-show-heart-rate">
						<h2>心率变化</h2>
						<div class="data-show-chart">

						</div>
						<div class="filterParam">
							<span>过滤点:</span>
							<input type="number" max="20" min="1" ng-model="filterParam1" ng-change="filterParamChgLine(filterParam1, circleR1, grid1, assist1)"/>
							<span>点半径:</span>
							<input type="number" max="5" min="0" ng-model="circleR1" ng-change="filterParamChgLine(filterParam1, circleR1, grid1, assist1)"/>
							<span>是否需要网格背景:</span>
							<input type="checkbox" ng-model="grid1" ng-change="filterParamChgLine(filterParam1, circleR1, grid1, assist1)"/>
							<span>是否需要辅助线:</span>
							<input type="checkbox" ng-model="assist1" ng-change="filterParamChgLine(filterParam1, circleR1, grid1, assist1)"/>
						</div>
						<table>
							<tr>
								<th>评估指标</th>
								<th>取值</th>
								<th>提示</th>
								<th>参考范围</th>
							</tr>
							<tr ng-repeat="item in outcome1">
								<td>{{item.name}}</td>
								<td>{{item.value}}</td>
								<td><i class="fa" ng-class="(item.prompt==1) ? 'fa-arrow-up' : (item.prompt==-1) ? 'fa-arrow-down' : (item.prompt==0) ? 'fa-minus' : ''"></i></td>
								<td>{{item.range}}</td>
							</tr>
						</table>
					</div>
					<div id="data-show-pie">
						<div class="data-show-chart">
						</div>
						<table>
							<tr>
								<th>评估结果</th>
								<th>常见症状</th>
								<th>调理建议</th>
							</tr>
							<tr ng-repeat="item in outcome2">
								<td>{{item.result}}</td>
								<td>{{item.symptom}}</td>
								<td>{{item.suggest}}</td>
							</tr>
						</table>
					</div>
					<div id="data-show-poincare">
						<h2>Poincare散点图</h2>
						<div class="data-show-chart">

						</div>
						<div class="filterParam">
							<span>过滤点:</span>
							<input type="number" max="20" min="1" ng-model="filterParam2" ng-change="filterParamChgScatter(filterParam2, circleR2, grid2)"/>
							<span>点半径:</span>
							<input type="number" max="5" min="1" ng-model="circleR2" ng-change="filterParamChgScatter(filterParam2, circleR2, grid2)"/>
							<span>是否需要网格背景:</span>
							<input type="checkbox" ng-model="grid2" ng-change="filterParamChgScatter(filterParam2, circleR2, grid2)"/>
						</div>
						<table>

						</table>
					</div>
				</div>
			</div>
		<!-- </div>
	</div> -->
</body>
</html>
