<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel="stylesheet" href="../res/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="../res/css/reset.css"/>
	<link rel="stylesheet" href="../res/css/style.css"/>
	<script src="../res/js/jquery-3.1.1.min.js"></script>
	<script src="../res/js/angular-1.6.1.min.js"></script>
	<script src="../res/js/home.js"></script>
	<script src="../res/js/info.js"></script>
	<script src="../res/js/data1.js"></script>
	<script src="../res/js/data-list.js"></script>
</head>
<body ng-app="homeApp" ng-controller="homeCtrl">
	<div class="side-bar">
		<div class="head-portrait">
			<img src="../upload/Alice/image/portrait.png" alt="">
			<span>Alice</span>
		</div>
		<nav class="side-nav">
			<ul>
				<li class="side-li" ng-click="chgPage(0)">
					<a href="#">个人资料</a>
				</li>
				<li class="side-li" ng-click="chgPage(1)">
					<a href="#">分析数据</a>
				</li>
				<li class="side-li" ng-click="chgPage(2)">
					<a href="#">过往病例</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="container">
		<div class="container-title">
			<a href="#">
				<span class="fa fa-align-justify"></span>
			</a>
			<span class="container-name">分析数据</span>
			<a href="#">注销</a>
		</div>
		<div class="container-content">
			<!-- <iframe src="data-list.html" frameborder="0" height="100%" width="100%"></iframe> -->
			<ng-include src="mode"></ng-include>
		</div>
	</div>
</body>
</html>
